.calender{
	display: inline-block;
	width: 127px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	.sub-calender{
		margin: 0;

		.sub2-calender{
			width: 100%;
			padding: 0;
			.sub3-calender{
				width: 100%;
				margin: 0;
				.sub4-calender{
					.datetime{	
						width: 97px;
						height: 14px;
						margin: 3px 0 0 0;
						padding: 1px 5px;
						border: 1px solid rgb(221,221,221);	
						font-size: 9px;
						color: #000;
						@include background (#fff);
						@include border-radius (4px);
						@include box-sizing (border-box);
					}
					.calendar-mini{
						padding: 1px 0 0 0;
						border: 0;
						.sub-calendar-mini{
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}
	}
}
.glyphicon-calendar{	
	@include background (url("../images/small-calendar.png") no-repeat);
	@include background-size (99%);
}
.glyphicon-calendar::before{
	content: none;
}
