.modal {
	.style-modal-dialog {
		width: 570px;
		@include box-shadow (0 0 0 10px rgba(150,150,150,0.5));

		.style-modal-content {
			height: 750px;
			border: none;
			@include border-radius  (0);

			.style-modal-header {
				padding: 0px;
					
				.blue-line {
					border-bottom: 5px solid rgb(41,92,171);

					.style-close {
						position: absolute;
						top: 15px;
						right: 25px;
						width: 15px;
						height: 15px;
						font-size: 15px;
						color: rgb(255,255,255);
						@include border-radius (50%);
						@include background (url("../images/Close.png")no-repeat, rgb(150,150,150));						
						@include background-size (cover);
						@include opacity(1);
					}
					.style-close:focus{
						outline: none;
					}

					.style-modal-title {
						padding-top: 25px;
						padding-bottom: 15px;
						font-size: 24px;
						line-height: 1;
						text-align: center;
						color: #606060;
					}
				}

				.background-gradient{
					top: 0px;
					padding: 20px 110px 20px;
					text-align: center;
					@include background (linear-gradient(0deg,rgba(220,220,220,1) 5%,rgba(239,240,242,1),rgba(239,240,242,1),rgba(239,240,242,1),rgba(239,240,242,1),rgba(239,240,242,1),rgba(239,240,242,1)));
					@include box-sizing (border-box);

					.style-nav-pills{
						display: inline-block;
						//margin: 18px 0;
						border: 1px solid rgb(191,191,191);
						@include border-radius  (4px);
						@include box-sizing (border-box);

						li{
						margin-left: 0px;
						line-height: 25px;
						font-size: 15px;

							a {
								//border: 1px solid rgb(191,191,191);
								padding: 0 35px;
								color: rgb(205,205,205);
							}

							&.active{
								text-decoration: underline;

								a{	
									background-color: rgb(58,135,255);
									color: rgb(255,255,255);
									@include border-radius (3px 0px 0px 3px);
								}
							}
							&.second.active{
								a{
									@include border-radius(0px);
								}
								&.first{
									a{
										background-color: rgb(58,135,255);
									}
								}
							}
							&.third.active{
								a{
									@include border-radius (0px 3px 3px 0px);
								}
								&.first{
									a{
										background-color: rgb(58,135,255);
									}
								}
							}
							&:nth-child(2){
								&.active{
									&:first-child(1){
										a{
											background-color: rgb(58,135,255);
										}
									}
								}
							}
							&:last-child{
								&.active{
									&:first-child, &:nth-child(2){
										background-color: rgb(58,135,255);
									}
								}
							}
						}
					}
				}
			}

			.style-modal-body {
				padding: 31px 27px 27px 27px;

				.tab-content {
					.active {
						.style-arrows {
							position: absolute;
							top: -56px;
							display: inline-block;
							text-align: center;
							@include box-sizing (border-box);
								.arrow-r, .arrow-l {										
									a{											
										width: 32px;
										height: 32px;
										padding: 1px 0 0 0;
										border: 1px solid rgb(172,172,172);
										font-size: 17px;
										line-height: 27px;
										color: rgb(255,255,255);
										@include border-radius (50%);
									}
								}
								.arrow-l {
									left: 2px;
									a{
										@include background (url("../images/return.png") no-repeat 10px,rgb(199,199,199));
										@include background-size (30%);
									}
								}	
								.arrow-r {
									left: 430px;
									a{
										@include background (url("../images/next.png") no-repeat 13px,rgb(199,199,199));
										@include background-size (30%);
									}
								}
								.arrow-r.disabled {
									a {
										border: 1px solid rgb(210,210,210);
										@include background (url("../images/next.png") no-repeat 13px,rgb(220,220,220));
										@include background-size (30%);
									}
								}
								.arrow-l.disabled {
									a {
										border: 1px solid rgb(210,210,210);
										@include background (url("../images/return.png") no-repeat 10px,rgb(220,220,220));
										@include background-size (30%);
									}
								}
						}
						.client, .mobile-phone, .repair, .finish{
							padding: 10px 0 17px 0;
							border: 1px dotted rgb(160,160,160);
							@include background ( rgb(239,240,242));
							@include box-sizing (border-box);

							h2{
								font-size: 16px;
							}
								
							h3{
								font-size: 15px;
							}
									
							h4{
								font-size: 9px;
							}

							.images-logo {
								position: absolute;
								width: 22px;
								height: 40px;
								margin: -35px 0 0 245px;
							}

							.left-side, .right-side{
								position: relative;
								display: inline-block;
								width: 49.5%;
								vertical-align: top;						

								.cell {
									position: relative;
									display: inline-block;
									width: 100%;
									
									h2 {
										display: inline-block;
										margin: 0;
										padding: 6px 2px 2px 3px;
									}

									h4 {
										display: inline-block;
										margin: 0;
									}
									.event {
										display: inline-block;
										width: 185px; // почему именно 185, а не автоматически?
										padding: 7px 0 0 0;
										vertical-align: top;
										h2 {
											padding-left: 0;
										}

										h3 {
											display: inline-block;
											padding: 1px 2px 2px 0px;
											margin: 0;
										}
									}
									.event-checkbox{
										display: inline-block;
									}
									label {
									    display: inline-block;
									    padding-top: 15px;
									   }

									.error {
										border: 1px solid rgb(255,1,1);
									}

									.style-btn-default {
										position: absolute;
										top: 22px;
										left: 11px;
										height: 20px;
										width: 20px;
										padding: 0;
										border-color: rgb(93,151,253);
										font-size: 15px;
										line-height: 1;	
										color: rgb(93,151,253);	
										@include box-sizing (border-box);
										@include border-radius (50%);								
									}
									.style-btn-default:focus {
										outline: none;
									}
								}
							}
							.left-side{
								.cell{
									padding: 1px 17px 1px 5px;
								}
							}

							.right-side{
								.cell{
									padding: 1px 5px 1px 17px;
								}
							}

							.cell-date-time{
								width: 100%;
								padding: 3px 0 10px 0;

								h2{
									display: block;
									padding: 6px 2px 2px 8px;
								}
								
								h6 {
									display: inline-block;
									font-size: 10px;
									margin: 0;
									padding: 2px 2px 2px 8px;
								}

							}

						}
						.client {
							.images-logo {
								@include background (url("../images/client.png") no-repeat);								
								@include background-size (cover);
							}
						}

						.mobile-phone {
							margin-top: 30px;
							.images-logo {
								@include background (url("../images/phone.png") no-repeat);
								@include background-size (cover);
							}
						}

						.repair	{

							.images-logo {									
								width: 46px;
								height: 40px;
								margin: -35px 0 0 236px;
								@include background (url("../images/repair.png") no-repeat);								
								@include background-size (cover);
							}
							h2{
								display: inline-block;
								margin: 0;
								padding: 6px 2px 2px 8px;
							}

							.list-accessories, .list-problems{							
								border: 1px solid rgb(221,221,221);
								@include border-radius (4px);
								@include background (#fff);

								.search{
									position: relative;
									width: 100%;
									padding: 7px 5px;
									border: 1px solid rgb(221,221,221);	
									border-top: none;
									border-left: none;
									border-right: none;
									font-size: 11px;
									color: #000;
									@include border-radius (4px);
									@include border-bottom-left-radius (0px);
									@include border-bottom-right-radius (0px);
									@include background (#fff);
									@include box-sizing (border-box);
								}

								.margin-scroll{	
									padding: 2px 4px 2px 2px;	

									.scroll{
										height: 100px;
										overflow-y: auto;
										margin: 0px;	
										padding: 0px 9px 0px 0px;
										color: #000;
										@include border-radius (4px);
										@include box-sizing (border-box);	
									}
									.invisible{
										display: none;
									}
								}
							}
							.provenance {
								width: 100%;
								h3 {
									display: inline-block;
									margin: 0;
									padding: 6px 1px 2px 6px;
								}
							}
							.comments {
								width: 100%;
								padding: 7px 5px 0 5px;
								font-size: 11px;
								textarea{
									width: 100%;
									border: 1px solid rgb(221,221,221);
									color: #000;
									resize: none;
									outline: none;
									@include border-radius (4px);
									@include background (#fff);
									@include box-sizing (border-box);
								}
							}
						}
						.finish{
							.images-logo {									
								width: 45px;
								height: 40px;
								margin: -35px 0 0 236px;
								@include background (url("../images/finish-logo.png") no-repeat);								
								@include background-size (cover);
							}
							.finish-client, .finish-repair, .finish-mobile-phone{
								position: relative;
								width: 494px; //временно
								height: 150px; //временно
								margin: 8px 10px 14px 10px;
								padding: 10px 0 17px 0;
								border: 1px dotted rgb(160,160,160);
								@include background (#fff);								
								@include box-sizing (border-box);
								.to-change{
									position: absolute;
									top: 4px;
									right: 5px;
									width: 22px;
									height: 22px;
									border: 1px solid rgb(121,173,252);
									@include border-radius (50%);
									@include background (url("../images/pencil.png") no-repeat 2px 4px);
									@include background-size (80%);
								}
							}
							h2{
								display: inline-block;
								padding: 6px 2px 2px 18px;
								margin: 0;
							}
						}						
					}
				}
			}
		}
	}
}