input[type="text"]{	
	width: 100%;
	padding: 7px 5px;
	border: 1px solid rgb(221,221,221);
	font-size: 11px;
	color: #000;
	@include background (#fff);
	@include border-radius (4px);
	@include box-sizing (border-box);
}
			
input[type="text"]:focus{
	border: 1px solid rgb(58,135,255);
	outline: none;
	@include border-radius (4px);
}

input[type="checkbox"] { 
	display:none; 
}
.event-checkbox{
	input[type="checkbox"] + span {
		display: inline-block;
		width: 32px;
		height: 32px;
		border: 1px solid rgb(160,160,160);
		cursor: pointer;
		@include border-radius (50%);
		@include background (url("../images/flag.png")no-repeat 9px 6px rgb(199,199,199));
		@include background-size (50%);
	}
	input[type="checkbox"]:checked + span {
		@include background (url("../images/active-flag.png")no-repeat 9px 6px);
		@include background-size (50%);

	}
}

.provenance, .finish{
	input[type="checkbox"] + span {
		display: inline-block;
		width: 21px;
		height: 20px;
		cursor: pointer;
		@include background (url("../images/checkbox.png")no-repeat 0px 5px);
		@include background-size(90%);

	}
	input[type="checkbox"] + span:hover {
		@include background (url("../images/focus-V.png")no-repeat 0px 5px);
		@include background-size(90%);

	}

	input[type="checkbox"]:checked + span {
		@include background (url("../images/active-V.png")no-repeat 0px 5px);
		@include background-size (90%);

	}
}
.finish{
	input[type="submit"]{	
		width: 70px;
		padding: 0px 5px;
		margin:  0px 0px 0px 70px;
		border: 1px solid rgb(221,80,0);
		font-size: 18px;
		color: 	#fff;
		@include border-radius (5px);
		@include background (linear-gradient(0deg,rgba(217,136,81,1) 50%, rgba(255,102,0,1)));
	    @include text-shadow (0px 0.5px 2px rgba(255,255,255,0.5));
		@include box-sizing (border-box);
	}

	input[type="submit"]:active{
		border: 1px solid rgb(221,80,0);
		outline: none;
		//background: linear-gradient(0deg,rgba(217,136,81,1) 50%, rgba(255,102,0,1)) radial-gradient(circle at 0 0, rgba(0,0,0,.65), rgba(0,0,0,.35));
		@include box-shadow (inset rgba(221,80,0,.4) -3px -3px 8px,	inset rgba(221,80,0,.4) 3px 3px 8px);
		@include border-radius (5px);;
	}

	input[type="submit"]:focus{
		outline: none;
	}
}

input[type="search"]{
	width: 200px;
	border: none;
	outline: none;
	-webkit-appearance: none;
}

input[type="search"]:focus{
	outline: none;
}
.search{
	input[type="submit"]{
		position: absolute;
		top: 3px;
		right: 3px;
		width: 15px;
		height: 12px;
		padding: 0px 0px;
		border: none;
		@include border-radius (2px);
		@include background (rgb(206,206,206) url("../images/search.png")no-repeat 63% 1px);
		@include background-size (75%);
		@include box-sizing (border-box);
	}
	input[type="submit"]:active{
		outline: none;
	}

	input[type="submit"]:focus{
		outline: none;
	}
}