.select2-container {
width: 100%;
border: 1px solid rgb(221,221,221);
border-radius: 4px;
	.select2-choice {
		position: inherit;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		border: none;
								
		.select2-chosen {	
			height: 28px;
			width: 100%;
			font-size: 11px;
			padding: 7px 5px;
			box-sizing: border-box;
			color: #000;
			background: #fff;
			line-height: 1.4;
		}

		.select2-chosen:focus {
			border: 1px solid rgb(58,135,255);
			border-radius: 4px;
			outline: none;
		}

		.select2-arrow {
			width: 15px;
			height: 12px;
			right: 3px;
			top: 3px;
			border-radius: 2px;
			border-left: none;
			background: rgb(206,206,206);
				
			b {
				background: url("../images/arrow-down.png") no-repeat 2px 3px;
				background-size: 80%;
			}
			
		}
	}									
}
.select2-container-active{
	.select2-choice {
		.select2-arrow {				
			b{
				background: url("../images/arrow-up.png") no-repeat 2px 3px;
				background-size: 80%;
			}			
		}
	}
	
}

.select2-drop-active{
	border: 1px solid rgb(206,206,206);

	.select2-results{
		font-size: 11px;
		color:  rgb(60,60,60);

		.select2-highlighted{
			background: rgb(161,161,161);
			color:  rgb(60,60,60);
		}
	}
}