main {
	.modal {
		.style-modal-dialog {
			width: 570px;		

			.style-modal-content {
				height: 750px;

				.style-modal-header {
					padding: 0px;
					
					.blue-line {

						.style-close {
							position: absolute;
							width: 15px;
							height: 15px;
							top: 15px;
							right: 25px;
						}

						.style-modal-title {
							padding-top: 25px;
							padding-bottom: 15px;
							text-align: center;
							
						}
					}

					.background-gradient{
						padding: 20px 110px 20px;						
						top: 0px;
						

						.style-nav-pills{
							display: inline-block;
							//margin: 18px 0;
							
							li{
								margin-left: 0px;

								a {
									padding: 0 35px;
								}

								
							}
						}
					}
				}

				.style-modal-body {
					padding: 31px 27px 27px 27px;

					.tab-content {
						.active {
							.style-arrows {
								position: absolute;
								display: inline-block;
								width: 500px;
								text-align: center;
								top: -48px;

								.arrow-r, .arrow-l {										
									a{											
										width: 32px;
										height: 32px;
										padding: 1px 0 0 0;
									}
								}
								.arrow-l {
									left: 2px;
									//margin: -5px 198px 0 10px;
								}	
								.arrow-r {
									left: 430px;
									//margin: -5px 10px 0 198px;
								}
							}
							.client, .mobile-phone, .repair, .finish{
								padding: 10px 0 17px 0;

								.images-logo {
									position: absolute;
									width: 22px;
									height: 40px;
									margin: -35px 0 0 245px;
								}
								.cell {
									position: relative;
									display: inline-block;
									width: 254px;
									vertical-align: top;

									h2 {
										display: inline-block;
										padding: 6px 2px 2px 3px;
										margin: 0;
									}

									h4 {
										display: inline-block;
										margin: 0;
									}
									.event {
										display: inline-block;
										width: 185px; // почему именно 185, а не автоматически?
										padding: 7px 0 0 0;
										vertical-align: top;
										h2 {
											padding-left: 0;
										}

										h3 {
											display: inline-block;
											padding: 1px 2px 2px 0px;
											margin: 0;
										}
									}
									label {
									    display: inline-block;
									    padding-top: 15px;
									   }

									.style-btn-default {
										position: absolute;
										top: 22px;
										left: 11px;
										height: 20px;
										width: 20px;
										padding: 0;										
									}
									.select2-container {
										width: 100%;
										
										.select2-choice {
											position: inherit;
											display: block;
											width: 100%;
											height: 100%;
											padding: 0;
											

											.select2-chosen {	
												width: 100%;
												padding: 7px 5px;
											}
										}
										.select2-arrow {
											width: 15px;
											height: 12px;
											right: 3px;
											top: 3px;
										}
									}
								}
								.cell-l {
									padding: 0 17px 0 5px;
								}

								.cell-r {
									padding: 0 5px 0 17px;
								}

								.cell-date-time{
									width: 100%;

									h2{
										display: block;
										padding: 6px 2px 2px 8px;
									}
									.cell-r, .cell-l {
										display: inline-block;
										width: 49.6%;
									}
									h6{
										font-size: 10px;
										margin: 0;
										padding: 2px 2px 2px 8px;
									}
								}

							}
							
							.mobile-phone {
								margin-top: 30px;
							}

							.repair	{

								.images-logo {									
									width: 46px;
									height: 40px;
									margin: -35px 0 0 236px;
								}
								h2{
									display: inline-block;
									padding: 6px 2px 2px 8px;
									margin: 0;
								}

								.list-accessories, .list-problems{
									.margin-scroll{	
										padding: 2px 4px 2px 2px;	

										.scroll{
											height: 100px;
											padding: 0px 9px 0px 0px;
											margin: 0px;
										}
									}
								}

								.provenance {
									width: 100%;

									h3 {
										display: inline-block;
										padding: 6px 1px 2px 6px;
										margin: 0;
									}
								}
								.comments {
									width: 100%;
									padding: 7px 5px;
									textarea{
										width: 100%;
									}
								}
							}
							.finish{
								.images-logo {									
									width: 45px;
									height: 40px;
									margin: -35px 0 0 236px;
								}
								h2{
									display: inline-block;
									padding: 6px 2px 2px 8px;
									margin: 0;
								}
							}						
						}
					}
				}
			}
		}
	}
}